*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
    font-family: "Poppins", sans-serif;
    }
    
    header{
    background-color: #0d67a3;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    
    }

    .cabecalho-itens{

        max-width: 1980px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
     }
     .cabecalho-itens{
        max-width:1980px;
        margin:0 auto;
        display:flex;
        align-items:center;
        justify-content:center;
        }
        .cabecalho-imagem
        {width:10%;
        display:flex;
        justify-content:flex-start;
        align-items:center;}
        <!--header é a parte do cabeçalho do site, é o topo da página-->
        <section class="banner1">
           <img class="escola image" src="banner4.png" alt="banner da escola">
           </section>
        .titulo_site
        {padding: 80px;px;
        
        text-align:center;
        width:50%;
        font:30px;}

    .sociais{
        display:flex;
        justify-content:flex-end;
        width:25%;
        padding-right:30px;}
        .banner1
        {display:flex;
        justify-content:center;}
    
       
      


        
    
        
    